/*
	Theme Name: Chillum
	Author: Spritz LLC
	Author URI: http://www.spritzsf.com/
*/
@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'ProximaNova Regular';
  src: url('fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/ProximaNova-Regular.woff') format('woff'), url('fonts/ProximaNova-Regular.ttf')  format('truetype'), url('fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova Bold';
  src: url('fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/ProximaNova-Bold.woff') format('woff'), url('fonts/ProximaNova-Bold.ttf')  format('truetype'), url('fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova Semibold';
  src: url('fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),  url('fonts/ProximaNova-Semibold.otf')  format('opentype'),
	     url('fonts/ProximaNova-Semibold.woff') format('woff'), url('fonts/ProximaNova-Semibold.ttf')  format('truetype'), url('fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Light';
  src: url('fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/oximaNova-Light.woff') format('woff'), url('fonts/ProximaNova-Light.ttf')  format('truetype'), url('fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ACaslonPro-Regular';
  src: url('fonts/ACaslonPro-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/ACaslonPro-Regular.otf')  format('opentype'),
	     url('fonts/ACaslonPro-Regular.woff') format('woff'), url('fonts/ACaslonPro-Regular.ttf')  format('truetype'), url('fonts/ACaslonPro-Regular.svg#ACaslonPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ACaslonPro-Bold';
  src: url('fonts/ACaslonPro-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/ACaslonPro-Bold.otf')  format('opentype'),
	     url('fonts/ACaslonPro-Bold.woff') format('woff'), url('fonts/ACaslonPro-Bold.ttf')  format('truetype'), url('fonts/ACaslonPro-Bold.svg#ACaslonPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ACaslonPro-BoldItalic';
  src: url('fonts/ACaslonPro-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('fonts/ACaslonPro-BoldItalic.otf')  format('opentype'),
	     url('fonts/ACaslonPro-BoldItalic.woff') format('woff'), url('fonts/ACaslonPro-BoldItalic.ttf')  format('truetype'), url('fonts/ACaslonPro-BoldItalic.svg#ACaslonPro-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ACaslonPro-Italic';
  src: url('fonts/ACaslonPro-Italic.eot?#iefix') format('embedded-opentype'),  url('fonts/ACaslonPro-Italic.otf')  format('opentype'),
	     url('fonts/ACaslonPro-Italic.woff') format('woff'), url('fonts/ACaslonPro-Italic.ttf')  format('truetype'), url('fonts/ACaslonPro-Italic.svg#ACaslonPro-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ACaslonPro-Semibold';
  src: url('fonts/ACaslonPro-Semibold.eot?#iefix') format('embedded-opentype'),  url('fonts/ACaslonPro-Semibold.otf')  format('opentype'),
	     url('fonts/ACaslonPro-Semibold.woff') format('woff'), url('fonts/ACaslonPro-Semibold.ttf')  format('truetype'), url('fonts/ACaslonPro-Semibold.svg#ACaslonPro-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ACaslonPro-SemiboldItalic';
  src: url('fonts/ACaslonPro-SemiboldItalic.eot?#iefix') format('embedded-opentype'),  url('fonts/ACaslonPro-SemiboldItalic.otf')  format('opentype'),
	     url('fonts/ACaslonPro-SemiboldItalic.woff') format('woff'), url('fonts/ACaslonPro-SemiboldItalic.ttf')  format('truetype'), url('fonts/ACaslonPro-SemiboldItalic.svg#ACaslonPro-SemiboldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*End Fonts
************************************************************
*/


/*Global elements*/

.btn,.link,.checkout, input[type=button],button[type=button],input[type=submit],ul.footerlinks li a,.icon.social,.my_order_con{
	-webkit-transition: all 0.4s ease-in-out;
  	-moz-transition: all 0.4s ease-in-out;
  	-o-transition: all 0.4s ease-in-out;
 	 transition: all 0.4s ease-in-out;
}
.tab-content *{
	-webkit-transition: all 0.4s linear;
  	-moz-transition: all 0.4s linear;
  	-o-transition: all 0.4s linear;
 	 transition: all 0.4s linear;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}

/* WebKit, Blink, Edge */
input[type="text"]::-webkit-input-placeholder { color: #231f20; }  /* WebKit, Blink, Edge */
input[type="text"]:-moz-placeholder { color: #231f20; }  /* Mozilla Firefox 4 to 18 */
input[type="text"]::-moz-placeholder { color: #231f20; }  /* Mozilla Firefox 19+ */
input[type="text"]:-ms-input-placeholder { color: #231f20; }  /* Internet Explorer 10-11 */
input[type="text"]::-ms-input-placeholder { color: #231f20; }  /* Microsoft Edge */

h2{
	font-family: 'ProximaNova Semibold',Helvetica, sans-serif;
}
h3{
	font-family: 'ACaslonPro-Semibold',Helvetica, sans-serif;
}
h4{
	font-family: 'ACaslonPro-Regular',Helvetica, sans-serif;
}
p{
	font-family: 'ProximaNova Regular',Helvetica, sans-serif;
	font-size: 24.5px;
	color: #113157;
	line-height: 28px;
}

a{ color:#646464; }
a:hover{ clear: #70c596  }

button[type="button"]{
	border:0;	
	outline: none;
	border:0;
	border-color: transparent;
}
button, select {
    text-transform: none;
	outline: none;
}
.overlay_effect{
	position:fixed;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.65);
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;
    text-align: center;
}

.link{
	background-color: #fff;
    width: auto;
    padding: 5px 10px;
    font-family: 'ProximaNova Bold',Helvetica, sans-serif;
    font-size: 16px;
    color: #113157;
    text-decoration: none !important;
}
.link:hover{
	background-color: #70c596;
	color: #fff !important;
}
ul{margin: 0; padding: 0}
.btn_login{
	background-color: #fff;
	width: auto;
	padding: 5px 10px;
	font-family: 'ProximaNova Bold',Helvetica, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	color: #314c6d;
}
.btn{
	background-color: #fff;
	width: auto;
	padding: 10px 40px;
	font-family: 'ProximaNova Bold',Helvetica, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #113157;
	border: 2px solid #113157  !important;
	border-radius: 0;
}
.btn_login:hover{
	background-color: #70c596;
	color: #fff;
}
.btn:hover{
	background-color: #70c596;
	border: 2px solid #70c596  !important;
	color: #fff;
}
.btn:focus {
  outline: none;
}
.checkout{
	width: 100%;
	display: block;
	background-color: #70c596;
	border: 2px solid #70c596 !important;
	padding: 8px 17px 4px;
	color: #fff;
	font-family: 'ProximaNova Semibold',Helvetica, sans-serif;
	font-size: 22px;
	text-decoration: none !important;
	text-align: center;
}
.checkout:hover{
	background-color: #fff;
	border: 2px solid #70c596;
	color: #70c596 !important;
}
/*End of Global elements
*************************************************************/


/* Header*/
header{
	position: relative;
	width: 100%;
	min-height: 75px;
	background: #439180; /* Old browsers */
	background: -moz-linear-gradient(left, #439180 1%, #113155 52%, #113155 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #439180 1%,#113155 52%,#113155 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #439180 1%,#113155 52%,#113155 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#439180', endColorstr='#113155',GradientType=1 ); /* IE6-9 */
	padding: 25px 0 15px;
}
header .container{
	position: relative;
}
ul.nav_topmenu{
	width: 30%;
}
ul.nav_topmenu li{ 
	display: inline-block;
	margin-right: 55px;
	float: left;
}
ul.nav_topmenu li:last-child{
	margin-right: 0;
}
ul.nav_topmenu li button{ position: relative; }

header button.toggle_icon{
	background:url(images/header-icons.png) no-repeat right -50px top;
	width: 33px;
	height: 33px;
	top: 0px;
}
header button.search_icon {
    background: url(images/header-icons.png) no-repeat right -97px top;
    width: 34px;
    height: 40px;
    top: 5px;
    background-size: 240px;
	border:none;
}
header button.location_icon {
    background: url(images/locationIcon.png) no-repeat left -9px top -3px;
    width: 137px;
    height: 35px;
    top: 5px;
    background-size: 45px;
}
header button.location_icon span {
    display: inline-block;
    width: 70px;
    height: 34px;
    background: url(images/sf_arrow.png) no-repeat left 35px top 0px;
    top: 3px;
    position: relative;
    left: 5px;
    background-size: 34px;
}
button.location_icon p {
	text-transform: uppercase;
	font-weight:bold;
    position: absolute;
    left: 35px;
    top: 3px;
    color: #fff;
}
header .logo{
	width: 110px;
	height: 33px;
	/*background:url(images/chillum.png) no-repeat left 1px top 2px;*/
	display: block;
	margin:auto;
	position: absolute;
	left: 50%;
	margin-left: -55px;	
	top: 30px;
	text-align: center;
}
header .logo img{width: 100%; height: auto}
header .btn_login{
	width: 152px;
	min-height: 28px;
	position: relative;
	top: -3px;
}

header ul.login-cart{
	width: 30%;
	text-align: right;
	position: absolute;
	right: 0;
	top: 24px;
}
header ul.login-cart li{
	display: inline-block;
	margin-left: 55px;
	padding-right: 15px;
}
.cart{
	background: url(images/header-icons.png) no-repeat left top;
	width: 44px;
	height: 44px;
	position: relative;
	top: -7px;
}
.cart span{
	width: 22px;
	height: 24px;
	background-color: #ff0000;
	color: #fff;
	border-radius: 50px;
	padding: 3px 7px;
	font-family: 'ProximaNova Semibold',Helvetica, sans-serif;
	font-size: 14px;
    position: relative;
    right: -15px;
    top: -15px;
}

header .dropdown-menu{
	margin-top: -8px;
}

.sidenav {
    height: 100%;
    width: 500px;
    position: fixed;
    z-index: 999999;
    top: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-left: 90px
}
.sidenav.leftslide h4{
	font-family: 'ACaslonPro-Regular',Helvetica, sans-serif;
	font-size: 32px;
	color: #113157;
	margin-top: 50px;
	margin-bottom: 40px;
}
.sidenav.rightslide h4{
	text-align: center;
	font-size: 22px;
	color: #113157;
	margin: -10px 0 30px 0;
}
.sidenav.leftslide a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
	font-size: 28px;
    color: #113157;
    display: block;
    transition: 0.3s;
    margin-top: 20px;
}

.sidenav a:hover {
    color: #f1f1f1;
}


.sidenav.leftslide .closebtn {	
    left: 25px;
    padding: 0;
    margin-top: 0;

}
.sidenav.rightslide .closebtn{
    right: 25px;
}

.sidenav .closebtn {  
    font-size: 50px !important;
    margin-top: 0px;
    padding: 0;
    text-decoration: none;
    position: absolute;
    top: 0;
    color: #113157 !important
}

.sidenav.leftslide{
	left: 0;
	margin-left: -500px;
}
.sidenav.rightslide{
	right: 0;
	margin-right: -500px;
	padding:50px 70px;
}

.sidenav .terms{
	font-family: 'ProximaNova Semibold',Helvetica, sans-serif;
	font-size: 14px;
	color:#000000;
	line-height: 28px;
}
.signin-registration,.vendor_registration{
	display: none;
}

#overlay_effect {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.85);
    z-index: 20;
    cursor: pointer;
}

/* Login - Register - New vendor */
.page.home .panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
	padding: 0;
}
.page.home .panel-login>.panel-heading .panel-tabs{
	margin-top:-1px;
	min-height: 45px;
	padding: 10px 0;
	cursor: pointer;
	    width: 45%;
}
.page.home .panel-login>.panel-heading a{
	font-family: 'ProximaNova Semibold',Helvetica, sans-serif;
	text-decoration: none;
	color: #939598;
	font-weight: bold;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
	text-transform: uppercase;
	padding: 12px 30px;
	border:2px solid transparent;
}
.page.home .panel-login>.panel-heading .active a,.page.home .panel-login>.panel-heading .active a:hover{
	color: #113157;
	font-size: 15px;
	border:2px solid #113157;
}
.page.home .panel-login>.panel-heading a:hover{
	border:2px solid #939598;
	color: #939598;
}

.page.home .panel-login .panel-body{
	padding: 30px 30px 30px 0px;
}
.page.home .panel-login .panel-body .input-group{
	width: 100%;	
	margin-bottom: 20px;
}
.form-ctrl span{
	border: 0;
	font-family: 'ProximaNova Semibold',Helvetica, sans-serif;
	font-size: 13px;
	color: #939598;
}
.form-ctrl input[type="text"],.form-ctrl input[type="email"],.form-ctrl input[type="password"]{
	border: 0;
	border-bottom: 2px solid #113157;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);    
    font-family: 'ProximaNova-Light',Helvetica, sans-serif;
    color: #113157 !important;
    font-size: 24px;
    padding-left:0px; 
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    display: table-cell;
    vertical-align: middle;
    height: 45px;
}

.form-ctrl .btn-block{
	padding: 6px 0 5px;
	font-family: 'NotoSans-Bold',Helvetica, sans-serif;
	font-size:14px;
	height: 35px;
	color: #fff;
}
.form-ctrl .btn-block.fb-btn{
	background-color: #113157;
	margin-bottom: 20px;
}
.form-ctrl .btn-block.fb-btn i{
	float: left;
	margin:1px 0 0 16px;
	font-size: 17px;
}
.form-ctrl .btn-block.fb-btn span{
	color: #fff;
}
.form-ctrl .continue{
	background-color: #113157;
	color: #fff;
	font-family: 'ProximaNova Semibold',Helvetica, sans-serif;
	font-size: 20px;
	width: 100%;
	min-height: 37px;
	line-height: 24px;
	margin-top: 50px;

}
.form-ctrl.new-vendor .continue{
	margin-top: 20px;
}
/* Cart Menu */

a.closebtn.back {
	top: 20px;
    font-size: 40px !important;
}
a.closebtn.back span {
	color: #091439;
    position: relative;
    font-size: 18px;
    top: -4px;
}
div#maincart {
    padding: 50px 60px;
}
.cart_content {
    position: relative;
    margin-top: 40px;
    border-bottom: 1px solid #113157;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 17px;
}
.cart_content p {
    font-family: 'ACaslonPro-Semibold',Helvetica, sans-serif;
    position: relative;
    top: 14px;
    font-size: 26px;
    font-weight: bold;
}
.cart_content p span.cart_count{
	padding: 0px 9px;
	width: 24px;
    height: 25px;
    background-color: #ff0000;
    color: #fff;
    border-radius: 50px;
    font-family: 'ProximaNova Semibold',Helvetica, sans-serif;
    font-size: 14px;
    position: absolute;
    right: 0;
    line-height:27px;
}
/*.cart_count {
    position: relative;
    float: right;
    top: -12px; 
}*/
.cart_count span {
  
}
.cart_list { 
    position: relative;
    width: 100%;
    font-size: 17px;
    padding-top: 20px;
    float: left;
}
.cart_list .cart_cancel{
	position: absolute;
	top: -26px;
	right: 0;
	font-size: 40px;
	color: #000;
	text-decoration: none;
}
.cart_list p {
    font-size: 18px;
}
.cart_list .cart_img img{
	width: 100%;
	height: auto;
}
.cart_list .cart_img,.cart_list .cart_cnt{
	float: left;
}
.cart_list .cart_img{
	width: 40%;
	overflow: hidden;
	margin-right: 15px;
}
.cart_list .cart_cnt{
	width: 55%;
}
.cart_list .cart_cnt p{
	margin-top: -3px;
	color: #000;
	font-size: 16px;
	line-height: 20px;
}
.cart_list  .btn{
	padding: 9px 15px;
	font-size: 12px;
	border: 1px solid !important;
	text-transform: none;
}
.cart_list.cart_content{
	margin-top: 0px;
}
.cart_cnt.qty p{
	text-align: right;
	font-family:'ProximaNova Regular',Helvetica, sans-serif;
	font-weight: normal;
	color: #000;
	font-size: 16px;
}
.cart_cnt.qty p span:nth-child(2){
	margin-right: 45px;
}
.cart_cnt.qty .checkout{
	margin-top: 40px;
}
.cartQty{width: 30px; border: 0;}

/* Search Form */

.field.width{
	padding: 0px 10px; width: 250px; opacity: 1; left: 150px;
} 
input.field{ 
     top: 28px;
     position:absolute;
	 width: 4px; 
	 opacity: 0;
	 transition:all 0.2s ease-in-out 0s;
     height: 30px;
     margin: 0;
	 left: 145px;
}
input.field.width {
	z-index: 99;
	font-family: 'ProximaNova Regular',Helvetica, sans-serif;
	color:#314c6d;
    display: block;
    position: absolute;
    width: 250px;
    margin: 0;
    padding: 0 10px;
    border: none;
    background-color: #ffffff;
    font-size: 18px;
    -webkit-backface-visibility: none;
    -moz-backface-visibility: none;
    -ms-backface-visibility: none;
    backface-visibility: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: left 0;
    -moz-transition: left 0;
    -ms-transition: left 0;
    -o-transition: left 0;
    transition: left 0;
}
.carousel-control.right{
	background:none;
}
.carousel-control.left{
	background:none;
}
.carousel-control {
    top: 45%;
}
/* Inner Page */

.center-block{
	margin-bottom:30px;
}
ul.inner_icon {
    list-style: none;
}
ul.inner_icon li {
    margin-right: 12%;
    /* float: left; */
    display: inline-block;
}
ul.inner_icon li:last-child {
    margin-right: 0%;
}
ul.inner_icon {
    text-align: center;
    list-style: none;
    padding: 30px 50px 30px 50px;
}
.inner_icon img{
	margin:0 auto;
}
.checkout_icon {
	transition: ease-in-out 0.8s;
	-webkit-transition: ease-in-out 0.8s;
	-moz-transition: ease-in-out 0.8s;
}

.inner_top_align {
    margin-top: 100px;
}
.fixed-pos * {
	transition: ease-in-out 0.2s;
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
}
.fixed-pos {
    background: #fff;
    float: left;
    position: fixed;
    width: 100%;
    top: -1px;
    z-index: 9999;
	border-bottom: 1px solid rgba(162, 162, 162, 0.19);
}
.fixed-pos .inner_icon img {
    width: 50px;
}
.fixed-pos .inner_icon p {
    font-size: 14px;
    margin-top: 3px;
}
.fixed-pos .inner_icon{
	padding: 16px 40px 0px 40px;
}
.inner_icon p {
	font-family: 'ProximaNova Semibold';
    color: #70c596;
    font-size: 17px;
    margin-top: 10px;
}
.inner_icon a {
    text-decoration: none;
}
.inner_align {
    padding: 0px 0px 40px 0px;
}
.products.inner_align {
    padding-bottom: 90px;
}



.checkout-fix .tab-content{
	position: fixed;
	top: 30px;
	width: 665px;
}
.checkout-rel .tab-content{position: relative;
width: auto; /*top: 415px;*/}
/*.checkout-fix .my_order{
	position: fixed;
}*/
/* Experience */

.experience h4{
	margin-bottom: 40px;
	text-align:center;
    font-size: 30px;
    color: #113157;
}
.exp_content {
	padding: 0px;
    margin-bottom: 15px;
}
.gift_content{
	padding: 0px;
	margin-bottom: 15px;
}
.likes {
    font-size: 18px;
    color: #70c596;
    position: absolute;
    z-index: 99;
    right: 15px;
    top: 15px;
}

/* Single Product */

.single_pro_desc {
    width: 70%;
    margin: 0 auto;
	padding-top: 40px;
}
.product_fixed_remove{
	position: absolute !important;
	bottom:0;
    width: 90% !important;
}
.product_fixed {
    padding: 0px 0px 0px 40px;
    margin: 0 auto;
    width: 30%;
    position: fixed;
}
.product_fixed ul {
    margin-top: 20px;
    list-style-type: none;
}
.product_fixed ul li {
	font-size: 15px;
    font-family: 'ProximaNova-Light';
    margin-right: 15px;
    display: inline-block;
}
.product_fixed h2 {
    font-size: 21px;
}
.product_fixed p {
	margin-top: 25px;
    font-size: 14px;
    line-height: 21px;
}
.padding_zero{
	padding:0px;
}
.check_availability {
    margin-top: 35px;
    background: url(images/available.png) no-repeat left;
    padding-left: 40px;
    height: 40px;
    background-size: 21px;
}
.check_availability select {
	color:#403d3e;
	font-family: 'ProximaNova Semibold',Helvetica, sans-serif;
    height: 40px;
    width: 100%;
    border: 1px solid #231f20;
}
.cart_set {
    margin-top: 50px;
}
button.add_cart {
	font-family: 'ProximaNova Semibold',Helvetica, sans-serif;
    width: 100%;
    border: 1px solid #484b4e;
    background: #231f20;
    color: #fff;
    height: 40px;
	font-size:18px;
}

button.add_cart:hover {
	-webkit-transition: all 0.4s ease-in-out;
  	-moz-transition: all 0.4s ease-in-out;
  	-o-transition: all 0.4s ease-in-out;
 	 transition: all 0.4s ease-in-out;
    background: #70c596;
    color: #fff;
	border: 1px solid #70c596;
}
button.bucket_btn {
	font-family: 'ProximaNova Semibold',Helvetica, sans-serif;
	color:#231f20;
    width: 100%;
    margin-top: 20px;
    height: 40px;
    background: none;
    border: 1px solid #000;
	font-size:18px;
}
button.bucket_btn:hover {
	-webkit-transition: all 0.4s ease-in-out;
  	-moz-transition: all 0.4s ease-in-out;
  	-o-transition: all 0.4s ease-in-out;
 	 transition: all 0.4s ease-in-out;
    background: #70c596;
    color: #fff;
	border: 1px solid #70c596;
}
.custom_pills-fixed {
    background: #fff;
    position: fixed;
    width: 55%;
    top: 0px;
    z-index: 9999;
    padding: 10px 0px 10px 0px;
	height: 60px;
}
ul.custom_pills {
    position: relative;
    list-style: none;
    border: 0;
    top: 9px;
}
ul.custom_pills li {
	display:inline-block;
	font-family: 'ProximaNova Semibold';
	color:#939598;
    margin-right: 10%;
}

ul.custom_pills li a{
	   border: 2px solid transparent;
	   padding: 10px 30px 10px 30px;
	   text-decoration:none;
	   margin-right: 0px;
       line-height: 1.42857143;
}

ul.custom_pills li.active a {
	padding: 10px 30px 10px 30px;
	border: 2px solid #113157;
    color:#113157;
}

.active_menu{
	padding: 8px 0px 8px 0px;
	border: 2px solid #113157;
    color:#113157;
}

ul.custom_pills li a:hover{
	-webkit-transition: all 0.4s ease-in-out;
  	-moz-transition: all 0.4s ease-in-out;
  	-o-transition: all 0.4s ease-in-out;
 	 transition: all 0.4s ease-in-out;
    padding: 10px 30px 10px 30px;
	border: 2px solid #113157;
    color:#113157;
}

.similar_pro {
	margin-bottom:50px;
}
/* Tab Content */
.tab-content .tab-pane {    
    position: relative;
}
.tab-content {
    padding-left: 0px;
    margin-top: 50px;
}
.tab-content h2 {
    font-size: 14px;
}
.tab-content p {
    color: #231f20;
    line-height: 24px;
    font-size: 16px;
}
.tab-content p span a {
    text-decoration: none;
    color: #113157;
    margin-left: 6px;
}
.reviews_content .br-theme-fontawesome-stars .br-widget{
	position:relative;
	margin-right:20px;
}
.reviews_content .br-theme-fontawesome-stars .br-widget a {
    font: normal normal normal 21px/1 FontAwesome;
}
.reviews_content p span {
	font-size: 13px;
    margin-right: 20px;
    float: left;
}
.rating_num{
   font-size: 16px !important;
}
ul.reviews_list {
	margin-top: 60px;
    margin-bottom: 35px;
    list-style-type: none;
    clear: both;
}
ul.reviews_list li {
    margin-top: 40px;
    clear: both;
}
.more_reviews {
    text-align: center;
	margin-bottom: 50px;
}
.more_reviews a{
	font-family: 'ProximaNova Semibold';
	color:#939598;
	font-size:16px;
	text-decoration:none;
}
.add_details {
    width: 400px;
    margin-top: 40px;
	padding-bottom:40px;
}
.add_details ul {
	font-family: 'ProximaNova Regular',Helvetica, sans-serif;
    margin-left: 20px;
}
.add_details ul li {
	font-size: 16px;
    padding-bottom: 3px;
}
.similar_exp a {
    padding-right: 55px;
    background: url(images/similar.png) no-repeat right;
    font-family: 'ProximaNova Semibold';
    margin-top: 30px;
    float: right;
    margin-bottom: 30px;
    font-size: 15px;
    color: #000;
    text-decoration: none;
}
.author_details {
    width: 100%;
    float: left;
}
.author_details img {
    float: left;
    margin-right: 13px;
}
.review_desc p {
    margin-left: 80px;
}
p.author_name {
	font-size: 14px;
    line-height: 10px;
    margin-top: 20px;
}
p.publish_date {
    font-size: 14px;
    margin-top: -4px;
}
.custom_pills_remove{
	position:absolute;
	bottom:0;
}
/*End of Header
*************************************************************/

/* Footer*/
footer{
	width: 100%;
	background-color: #231f20;
	padding: 55px 0px 15px 0px;	
}
footer h2{
	font-size: 21px;
	color:#fff;
	margin-bottom: 35px;
}
footer .footerlinks_con{
	padding-left: 70px;
}
ul.footerlinks li{
	display: block;
	list-style: none;
	font-family: 'ProximaNova Regular',Helvetica, sans-serif;
	font-size: 18px;
	color: #fff;
}
ul.footerlinks li a{
	color: inherit;
	text-decoration: none;
	font-family: inherit;
}
ul.footerlinks li a:hover{
	color: #70c596;
}
.demopadding {
  width:100%;
  text-align:center;
}
.icon {
	position:relative;
	text-align:center;
	width:28px;
	height:28px;
	border-top-right-radius: 	20px;
	border-top-left-radius: 	20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 	20px; 
	-moz-border-radius: 		20px 20px 20px 20px;
	-webkit-border-radius: 		20px 20px 20px 20px;
	-khtml-border-radius: 		20px 20px 20px 20px; 	
	color:#FFFFFF;
	border:1px solid #fff;
}
.icon i {
	font-size:15px;
	position:absolute;
	left: 7px;
    top: 5px;
}
.icon.social {
	float:left;
	margin:0 10px 0 0;
	cursor:pointer;
	color:#fff;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}
.icon.social:hover {
	background:#70c596 ;
	color:#fff;
	border: 1px solid #70c596;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-filter:	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-moz-filter: 	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-ms-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-o-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	filter: 			drop-shadow(0 1px 10px rgba(0,0,0,.8));	 	
}
.icon.social.fb i {
	left:8px;
}
.copyright {
    padding-top: 70px;
}
.copyright p {
    text-align: center;
    color: #fff;
    font-size: 16px;
}
/*.icon.social.tw i {
	left:11px;
}
.icon.social.in i {
	left:11px;
}*/


/*End of Footer
*************************************************************/

/*Modal */

/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */

/* Hide scroll bar */

html.remodal-is-locked {
  overflow: hidden;
  touch-action: none;
}
.loction_select {
	text-align: left;
    background: #fff !important;
    max-width: 750px !important;
	color:#000 !important;
}
.use_location button {
    background-color: #ebebf1;
    background-image: url(images/location_btn.png);
    background-repeat: no-repeat;
    background-position: left 13px top 13px;
    font-size: 25px;
    color: #000;
    line-height: 30px;
    padding-left: 70px;
    height: 70px;
    background-size: 45px;
    padding-top: 20px;
    padding-bottom: 16px;
    float: left;
    width: 100%;
    cursor: pointer;
    text-align: left;
    border: none;
    margin-bottom: 30px;
}
div#select_location input {
    border: unset;
    border-bottom: 2px solid #555555;
	height: 40px;
	width:350px;
	margin-left: 80px;
	font-size: 25px;
}
div#select_location h3 {
    text-align: center;
}
.region_name h3 {
    background: url(images/location.png) no-repeat left 0px top 0px;
    background-size: 30px;
    height: 30px;
    padding-left: 50px !important;
    position: relative;
    left: 50%;
    margin-left: -130px;
    text-align: left !important;
}


/* Anti FOUC */

.remodal,
[data-remodal-id] {
  display: none;
}

/* Necessary styles of the overlay */

.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none;
}

/* Necessary styles of the wrapper */

.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: "";
}

/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
  backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */

.remodal {
  position: relative;
  outline: none;
  text-size-adjust: 100%;
}

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block;
}

/* Default theme styles for the background */

.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  filter: blur(3px);
}

/* Default theme styles of the overlay */

.remodal-overlay {
  background: rgba(0, 0, 0, 0.82);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
  animation-name: remodal-overlay-closing-keyframes;
}

/* Default theme styles of the wrapper */

.remodal-wrapper {
  padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */

.remodal {
  font-family: 'ProximaNova Regular',Helvetica, sans-serif;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;
  transform: translate3d(0, 0, 0);
  border: 4px solid #fff;
  color: #fff;
  background: #164b61;
}
.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
  animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */

.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

/* Close button */

.remodal-close {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: visible;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: color 0.2s;
  text-decoration: none;
  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;
}

.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38;
}

.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  content: "\00d7";
  text-align: center;
}

/* Keyframes
   ========================================================================== */

@keyframes remodal-opening-keyframes {
  from {
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    transform: none;

    opacity: 1;

    filter: blur(0);
  }
}

@keyframes remodal-closing-keyframes {
  from {
    transform: scale(1);

    opacity: 1;
  }
  to {
    transform: scale(0.95);

    opacity: 0;

    filter: blur(0);
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media queries
   ========================================================================== */

@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 600px;
  }
}

/* IE8
   ========================================================================== */

.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
  width: 700px;
}

button.btn_login.modal_btn {
	font-family: 'ProximaNova Regular',Helvetica, sans-serif;
    width: 335px;
    height: 40px;
	text-transform: initial;
    font-weight: 100;
	color:#164b61;
}
button.btn_login.modal_btn_ch {
	font-family: 'ProximaNova Regular',Helvetica, sans-serif;
    width: 335px;
    height: 40px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    text-transform: initial;
    font-weight: 100;
}
.remodal h3 {
    padding: 0px 0px 20px 0px;
    font-family: 'ProximaNova Regular',Helvetica, sans-serif;
}
div#denied {
	display:none;
    padding: 20px 0px 20px 0px;
}

/* widgets*/
.intro{
	width: 100%;
	text-align: center;
	padding: 40px 0 50px;
}
.intro h3{
	font-size: 36px;
	color: #113157;
}
.inner_title h4{
    margin-bottom: 40px;
    text-align: center;
    font-size: 32px;
    color: #113157
}
.section-empty-box {
    border: 3px solid transparent;
    height: 250px;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.section-box{
	border: 3px solid transparent;
	height: 250px;	
	color: #fff;
	position: relative;
	overflow:hidden;	
}
.section-box,.section-box *, .section-box figure *{
	transition: ease-in-out 0.8s;
	-webkit-transition: ease-in-out 0.8s;
	-moz-transition: ease-in-out 0.8s;
}
.section-box:hover{
	border: 3px solid #439180;
	border: 3px solid -moz-linear-gradient(left, #439180 1%, #113155 52%, #113155 100%);
	border: 3px solid -webkit-linear-gradient(left, #439180 1%,#113155 52%,#113155 100%);
	border: 3px solid linear-gradient(to right, #439180 1%,#113155 52%,#113155 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#439180', endColorstr='#113155',GradientType=1 );
}
.section-box figure {
	opacity:0;
	position: absolute;
	text-align: center;
	padding: 19px;
	width: 100%;
	height: 100%;
}
.section-box:hover figure{
	opacity:1;
	z-index:999;
}
.section-box img{
	width:100%;
	height: 100%;
	position: absolute;
}
.section-box:hover img{
	z-index:1;
	transform: scale(3);
	-webkit-transform: scale(3);
	-moz-transform: scale(3);
	opacity: 0;
}
.section-box h4 {
	font-family: 'ProximaNova Regular',Helvetica, sans-serif;
	text-align: left;
	font-size: 18px;
	color: #113155;
	font-weight: 600;
	margin-bottom: 2px;
}
.section-box p {
	font-size: 15px;
}
.section-box ul {
	margin-bottom: 20px;
	list-style-type: none;
}	
li.location_icon {
	text-align: left;
	background: url(../images/location_icon.png) no-repeat left 0px top 0px;
	color: #113155;
}
li.location_icon span {
	padding-left: 30px;
}
li.people_icon {
	text-align: left;
	background: url(../images/people_icon.png) no-repeat left 0px top 0px;
	color: #113155;
}
li.people_icon span {
	padding-left: 30px;
}
li.hours_icon {
	text-align: left;
	background: url(../images/time_icon.png) no-repeat left 0px top 0px;
	color: #113155;
}
li.hours_icon span {
	padding-left: 30px;
}
.section-box ul li {
	font-family: 'ProximaNova-Light';
	padding-bottom: 10px;
}
p.price {
	text-align: left;
}
.btn.btn-read {
	font-family: 'ProximaNova-Light';
	padding: 5px 10px 5px 10px;
	border: 1px solid #113157 !important;
	font-size: 15px;
	float: right;
}
.btn.btn-read:hover{
	border: 1px solid #70c596 !important;
	background:#70c596;
}
p.reviews {
	bottom: 11px;
	font-size: 13px;
	text-align: left;
	position: absolute;
}
p.gift_desc {
	width: 270px;
	padding-top: 4px;
	text-align: left;
	line-height: 20px;
	font-size: 15px;
}
.details {
	margin-top: 50px;
	float: left;
}	
ul.detail_content {
	float:left;
	list-style: none;
	color: #000;
}
ul.detail_content li {
	font-size: 12px;
	display: inline-block;
}
.details p {
	margin: 0;
	font-size: 13px;
	text-align: left;
}
.cart_btn .btn.btn-read {
	top: 68px;
	position: relative;
}

/*End of widgets
*************************************************************/



/* Landing Page*/
.banner .carousel-caption{
	bottom:auto;
	top: 40%;
}
.banner h3{
	font-size: 50px;
}

.quicklinks li{
	display: inline-block;
    list-style: none;
    margin: 13px 16px 0px 0;
    position: relative;
    text-align: center;
    overflow: hidden;
  }
.quicklinks li.left{
  	margin-left: 0;
}
.quicklinks li.right{
  	margin-right: 0;
}
.quicklinks li.large{
	width: 100%;
}
.quicklinks li.big{
	width: 56.6%;
}
.quicklinks li.small{
	width: 41.7%;
}
/*.quicklinks li:nth-child(1), .quicklinks li:nth-child(3),.quicklinks li:last-child{
 	margin-right: 0;
 }*/
 .home-quicklinks{
 	padding-bottom: 124px;
 }
 .quicklinks li .img_hover{
 	display:table-cell;
 	vertical-align: middle;
 	position: absolute;
 	width: 100%;
 	z-index: 2;
 	top: 28%;
 	
 }
 .quicklinks li h3,.quicklinks li p{
 	color: #fff;

 }
 .quicklinks li h3{
 	font-size: 42px;
 	margin-bottom: 20px;
 }
 .quicklinks li p{
 	font-size: 24px;
 	margin-bottom: 28px;
 }
 .quicklinks li .link{
 	width: 154px;
    display: block;
    margin: auto;
 }



/*End of Landing Page
*************************************************************/

/* Checkout Page */

.checkout_page {
    padding: 50px 0px 80px 0px;
}
.form_space{
	padding-bottom:50px;
}
.space_adjust {
    padding: 0 10px 0px 0px;
}
.space_adjust:last-child {
    padding: 0 0px 0px 0px;
}
.form_space input {
    font-size: 16px;
    font-family: 'ProximaNova-Light';
    box-shadow: none !important;
    border: 0px;
    color: #000000;
    background: #f3f3f4;
    border-radius: 0px;
}
.checkout_page .tab-content {
    margin-top: 50px;
}

.checkout_page .cat_con{
	width: 58.33%;
	display:block;
	margin: auto;
	float: none;
}
a.con_link {
    font-size: 20px;
    color: #113155;
}
.checkout_page .fixed-pos{
	top: -13px !important;
	height: 107px !important;
} 
.checkout_page .fixed-pos .wizard {
    width: 670px;
	margin-top: 6px;
}
.my_order-fixed {
    position: fixed;
    top: 40px;
    width: 665px;
}
.my_order-fixed_remove {
	position:absolute;
	bottom:0;
}
.inner_top_order{
	margin-top: 150px;
}
/* Checkout Tab Modification */

button.btn.btn-primary.next-step {
    font-size: 13px;
    padding: 10px 20px;
}
button.btn.btn-default.prev-step {
    font-size: 13px;
    padding: 10px 20px;
}
/* Shipping */

.process_title h2 {
	color: #000;
    font-size: 23px;
    border-bottom: 1px solid #e4e4e5;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.shipping {
    margin-bottom: 20px;
}

.payment {
    margin-bottom: 20px;
}

.review_purchase button {
    margin-top: 30px;
}
.review_details h2 {
    font-size: 18px;
}

.review_details p {
    padding-bottom: 0px;
    font-size: 17px;
    margin-bottom: 1px;
}

.my_order {
    padding: 0px 0px 0px 50px;
    margin-top: 69px;
}
.my_order .cartItem{ margin-bottom: 10px;}
.my_order .cart_list .cart_cnt p {
    font-size: 17px;
}
.checkout_cart {
    padding-top: 20px;
}
.my_order .cart_list .cart_cancel {
    position: absolute;
    top: -34px;
}
.my_order .cart_list .btn {
    margin-top: 15px;
    padding: 7px 15px 9px;
    font-size: 14px;
}

.my_order .cart_cnt.qty p span:nth-child(2) {
    margin-right: 6px;
}
.my_order .cartQty {
	color:#000;
    text-align: right;
}

.shipping_subtotal {
    width: 100%;
    position: relative;
    float: left;
}
.shipping_subtotal td:last-child {
    text-align: right;
}
.shipping_subtotal .table > tbody > tr > td {
	font-family: 'ProximaNova-Light';
	padding:0px;
	border:0px;
}

.wizard {
    margin: 0px auto;
    background: #fff;
}
.wizard,.wizard*{
	-webkit-transition: all 2s ease-in-out;
  	-moz-transition: all 2s ease-in-out;
  	-o-transition: all 2s ease-in-out;
 	 transition: all 2s ease-in-out;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 0px auto;
        margin-bottom: 0;
        border-bottom-color: transparent;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 4px;
    background: #70c596;
    position: absolute;
    width: 79%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 0;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
	background: transparent;
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 40px;
    height: 40px;
    line-height: 28px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 4px solid #70c596;
    z-index: 2;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}

ul.process_txt p {
    font-family: 'ProximaNova Semibold';
    font-size: 15px;
}


.wizard li.active span.round-tab {
    border: 1px solid #70c596;
    background-color: #70c596;
    background-image: url(images/tick.png);
    background-repeat: no-repeat;
    background-position: left 7px top 8px;
    background-size: 65%;
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.success_set {
    margin-top: 30px;
    text-align: center;
}
.success_set img {
    padding: 40px;
    width: 160px;
}
.success_set h1 {
	font-family: 'ACaslonPro-Regular';
    padding-bottom: 10px;
}
.success_set p {
    font-family: 'ProximaNova-Light';
    font-size: 23px;
    line-height: 20px;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard .nav-tabs > li a {
    border: 5px solid transparent;
    line-height: 15px;
    width: 100px;
    height: 40px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    text-align: center;
	transition:none;
}

.wizard .nav-tabs > li a:hover {
	background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 0px;
}

/*End of Checkout page
*************************************************************/


/* Account Page */

.account_page{
	position: relative;
	background-color: #fff;
}	
.account_page .con_grey{
	position: absolute !important;;
	top:0;
	width: 50% !important;
	left:0;	
	background-color: #ebebeb;
	z-index: 1;
}
.account_page .con_white{
	background-color: #fff;
	position: relative;
	z-index: 2;
}
.account_page .account_menu,.account_page .account_sec{
    padding-top: 80px;
    padding-bottom: 80px;
}
.account_menu{
	background-color: #ebebeb;
}
.account h2 {
    color: #003056;
    font-size: 30px;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 15px;
}
h2.forum_title {
    border-bottom: 1px solid #e1e1e1;
    font-size: 21px;
    padding-bottom: 20px;
    margin-bottom: 50px;
	color:#000;
}
div#profile {
    margin-top: 70px;
}
.bottom_adjust {
    padding: 0;
}

button.acct_btn {
	width: 300px;
    text-transform: uppercase;
    font-family: 'ProximaNova Regular',Helvetica, sans-serif;
    border: 1px solid #484b4e;
    background: #231f20;
    color: #fff;
    font-size: 16px;
    padding: 7px 69px;
    margin-top: 40px;
}
button.acct_btn:hover {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background: #70c596;
    color: #fff;
    border: 1px solid #70c596;
}
.account_forum {
    margin-top: 50px;
}
.row_space {
    padding-bottom: 20px;
}
.account_forum input {
	height: 35px;
    border-radius: unset;
    border: 1px solid #dad8d8;
	font-family: 'ProximaNova Semibold',Helvetica, sans-serif;
}
.account_forum label {
	font-weight:600;
	font-size:15px;
	padding-bottom:2px;
	color:000;
    font-family: 'ProximaNova-Light',Helvetica, sans-serif;
}
/* WebKit, Blink, Edge */
.account_forum input[type="text"]::-webkit-input-placeholder { color: #000; font-weight:bold; }  /* WebKit, Blink, Edge */
.account_forum input[type="text"]:-moz-placeholder { color: #000; font-weight:bold;}  /* Mozilla Firefox 4 to 18 */
.account_forum input[type="text"]::-moz-placeholder { color: #000; font-weight:bold;}  /* Mozilla Firefox 19+ */
.account_forum input[type="text"]:-ms-input-placeholder { color: #000; font-weight:bold;}  /* Internet Explorer 10-11 */
.account_forum input[type="text"]::-ms-input-placeholder { color: #000; font-weight:bold;}  /* Microsoft Edge */


.sidebar-nav .navbar .navbar-collapse {
	padding: 0;
	max-height: none;
}
.sidebar-nav .navbar{
	background: none;
	border-radius:0; 
	margin-bottom:0; 
	border:0;
}
.sidebar-nav .navbar ul {
	float: none;
	display: block;
}
.sidebar-nav .navbar .navbar-collapse > ul{
	float: left !important;
}
.sidebar-nav .navbar li {
	float: none;
	display: block;
}
.sidebar-nav .navbar li > a span{
	float: none !important;
	margin-left: 10px;
	border-top: 6px dashed;
	border-top: 6px solid \9;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	margin-top: -2px;

	webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.sidebar-nav .navbar li > a[aria-expanded="true"] span{
	-webkit-transform: rotate(180deg);  /* Chrome, Opera 15+, Safari 3.1+ */
	  -ms-transform: rotate(180deg);  /* IE 9  */
		  transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera */
}
.sidebar-nav .navbar li h4{
	font-family: 'ProximaNova Bold',Helvetica, sans-serif;
	font-size: 25px;
	margin-bottom: 40px;
} 
.sidebar-nav .navbar li a {
	font-family: 'ProximaNova Semibold',Helvetica, sans-serif;
	color: #353535;
	font-size: 18px;
	padding: 3px 0 3px 0;
}
.sidebar-nav .navbar li a:hover{
	color: #70c596;
	background-color: transparent;
} 
.sidebar-nav .navbar li a:focus{
	border: none;
	background-color: transparent;
}
.sidebar-nav .navbar li ul{
	margin-left: 40px;
	margin-bottom: 10px;
}
.sidebar-nav .navbar li ul li a {
	font-family: 'ProximaNova Regular',Helvetica, sans-serif;
}

/*End of Account Page
*************************************************************/

/* Orders Page */

h2.order_check {
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 40px;
}
.experience_sec {
    padding-top: 30px;
}
.subpro_sec{
	padding:20px 0px 20px 0px;
}
.exp_sep{
	padding-top:25px;
}
.subc_title p {
	margin: 0;
	font-family: 'ProximaNova Semibold',Helvetica, sans-serif;
    font-size: 17px;
	line-height: 23px;
}
p.subc_date{
	font-size:17px;
	font-family: 'ProximaNova-Light',Helvetica, sans-serif;
}
.qty_price {
    padding-top: 88px;
}
.pending{
	margin-top:30px;
	background:url(images/pending_icon.png) no-repeat left 13px top 0px;
	padding-left:50px;
	height:40px;
}
.pending p, .order_complete p{
    line-height: 30px;
}
.order_complete{
	margin-top:30px;
	background:url(images/order-complete.png) no-repeat left 13px top 0px;
	padding-left:50px;
	height:40px;
}
.status_list{
	padding-top:30px;
}
.or_status h2 {
    margin-bottom: 20px;
}
.notify_sett {
    padding-bottom: 30px;
    border-bottom: 1px solid #d5d5d5;
}
.notify_sett h2 {
    margin-bottom: 5px;
    border: none;
    font-size: 19px;
    padding-bottom: 0px;
	color:#000;
}
h2.notify {
    margin-bottom: 20px;
}
.notify_sett p {
	font-family: 'ProximaNova-Light',Helvetica, sans-serif;
    font-size: 18px;
    line-height: 25px;
}
/*Settings Page Button Toggle */

.switch {
    top: 50px;
    position: absolute;
    display: inline-block;
    width: 70px;
    height: 20px;
    right: 0;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #003056;
}

input:focus + .slider {
  box-shadow: 0 0 1px #003056;
}

input:checked + .slider:before {
  -webkit-transform: translateX(49px);
  -ms-transform: translateX(49px);
  transform: translateX(49px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*End of Orders Page
*************************************************************/

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }
	.checkout_page .fixed-pos .wizard {
		width: 90% !important;
	}

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 70px;
        height: 50px;
        line-height: 20px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

@media(min-width:1200px){
	/*Global elements*/

	/*End of Global elements
	*************************************************************/


	/* Header*/



	/*End of Header
	*************************************************************/

	/* Footer*/



	/*End of Footer
	*************************************************************/

	/* widgets*/



	/*End of widgets
	*************************************************************/



	/* Landing Page*/
	.page.home .home-quicklinks .container{
		width: 1198px;
		padding: 0;
	}
	.page.home .intro .container{
		padding-left:12.5%;
		padding-right:12.5%;
	}

	header .mob_btn_login {
		display:none;
	}

	/*End of Landing Page */

	/* Account Page */
	
	.account_page .con_white{
	}
	/*End of Account Page */
}

@media(min-width:992px) and (max-width:1199px){
	/*Global elements*/

	/*End of Global elements
	*************************************************************/


	/* Header*/
	header ul.nav_topmenu,header ul.login-cart{
		width: 37%;
	}
	ul.nav_topmenu li{margin-right: 50px;}
	header ul.login-cart li{margin-left: 4px;	}


	/*End of Header
	*************************************************************/

	/* Footer*/



	/*End of Footer
	*************************************************************/

	/* widgets*/



	/*End of widgets
	*************************************************************/



	/* Landing Page*/
	.quicklinks li.big{
		width: 57% ;
	}
	.quicklinks li.small{
		width: 40.7% ;
	}
	.banner h3 {
		font-size: 35px;
	}
	.banner .carousel-caption {
		top: 26%;
	}
	header .mob_btn_login {
		display:none;
	}
	
	/* Inner Page */
	
	.inner_icon img {
		width: 70px;
		margin: 0 auto;
	}
	.fixed-pos .inner_icon img {
		width: 45px;
	}
	.inner_icon p {
		font-size: 14px;
		margin-top: 5px;
	 }
	 
	 /* Section Box */ 
	 .section-box {
		height: 200px;
	 }
	 .section-box img {
		width: auto;
		height: auto;
	 }
	 .section-box h4 {
		font-size: 14px;
	 }
	 .section-box p {
		font-size: 13px;
	 }
	 .section-box ul li {
		line-height: 19px;
		font-size: 12px;
		padding-bottom: 3px;
	}
	.section-box ul {
		margin-bottom: 0px;
		list-style-type: none;
	}
	p.reviews {
		font-size: 12px;
		bottom: 5px;
	}
	.btn.btn-read {
		font-size: 11px;
	}
	.br-theme-fontawesome-stars .br-widget {
		bottom: -6px !important;
	}
	p.gift_desc {
		width: 240px;
	}
	.details {
		margin-top: 15px;
	}
	.details p {
		margin-bottom: -3px;
		font-size: 12px;
	}
	.cart_btn .btn.btn-read {
		top: 35px;
		position: relative;
		font-size: 10px;
	}
	ul.detail_content li {
		font-size: 10px;
	}
	
	/*Signgle Product Page */
	
	.product_fixed {
		padding: 0px 0px 0px 30px;
	}
	.product_fixed h2 {
		font-size: 15px;
	}
	.product_fixed p {
		margin-top: 20px;
		font-size: 13px;
		line-height: 19px;
	}
	.product_fixed ul li {
		line-height: 12px;
		margin-right: 5px;
		background-size: 11px;
	}
	.product_fixed ul li span{
		padding-left: 20px;
		font-size:12px;
	}
	.cart_set {
		margin-top: 30px;
	}
	 ul.custom_pills li {
		margin-right: 25px; 
	}
	.tab-content p {
		font-size: 14px;
	}
	.add_details ul li {
		font-size: 14px;
	}
	/*End of Landing Page */
	
	/* Checkout Page */
	
	.my_order .cart_list .btn {
		font-size: 11px;
	}
	.my_order .cart_list .cart_cnt p {
		font-size: 14px;
	}
	ul.process_txt p {
		font-size: 14px;
		left: -13px;
	}
	.checkout_page .tab-content {
		padding: 0px 30px 0px 30px;
	}
	.checkout_page .fixed-pos .wizard {
		width: 780px;
	}
	.checkout_page .cat_con {
		width: 85%;
	}
	ul.process_txt p {
		font-size: 14px;
	}
	.checkout-fix .tab-content {
		width: 550px;
	}
	.qty_price {
		padding-top: 25px;
	}
	.account h2 {
		font-size: 28px;
	}
	h2.forum_title {
		font-size: 20px
	}
}
@media(min-width:768px) and (max-width:991px){
	/*Global elements*/
	.intro{padding: auto}
	/*End of Global elements
	*************************************************************/


	/* Header*/
	header ul.nav_topmenu,header ul.login-cart{
		width: 37%;
	}
	ul.nav_topmenu li{margin-right: 33px;}
	header ul.login-cart li{margin-left: 4px;	}
	header button.location_icon {
		width: 133px;
	}

	/*End of Header
	*************************************************************/

	/* Footer*/



	/*End of Footer
	*************************************************************/

	/* widgets*/



	/*End of widgets
	*************************************************************/



	/* Landing Page*/
	.banner h3{
		font-size: 30px;
	}
	.banner .carousel-caption {
		top:25%;
	}
	.quicklinks li{
		vertical-align: top;
	}
	.quicklinks li.big{
		width: 55.8%;
	}
	.quicklinks li.small{
		width: 41.3% ;
	}
	.quicklinks li img{
		width: 100%;
		height: 100% !important;
	}
	header .mob_btn_login {
		display:none;
	}
	footer .footerlinks_con {
		padding-left: 15%;
	}
	.foot_align {
		padding-left: 15%;
	}
	
	/* Inner Page */
	
	.center-block {
		margin-bottom: 15px;
	}
	.inner_icon img {
		width: 60px;
		margin: 0 auto;
	}
	.fixed-pos .inner_icon img {
		width: 35px;
	}
	.fixed-pos .inner_icon {
		padding: 8px 50px 0px 50px;
	}
	.fixed-pos .inner_icon p {
		font-size: 14px;
		margin-top: 6px;
	}
	
	/*Signgle Product Page */
	
	.product_fixed {
		padding: 0px 0px 0px 20px;
	}
	.product_fixed h2 {
		font-size: 15px;
	}
	.product_fixed p {
		margin-top: 15px;
		font-size: 12px;
		line-height: 17px;
	}
	.product_fixed ul li {
		display: block;
		line-height: 18px;
		margin-right: 5px;
		background-size: 11px;
	}
	.product_fixed ul li span{
		padding-left: 20px;
		font-size:12px;
	}
	.cart_set {
		margin-top: 10px;
	}
	ul.custom_pills li {
		margin-right: 20px;
	}
    ul.custom_pills li.active a {
		padding: 8px 13px 8px 15px;
	}
	ul.custom_pills li a {
		padding: 8px 13px 8px 15px;
	}
	ul.custom_pills li a:hover {
		padding: 8px 13px 8px 15px;
	}
	.tab-content p {
		font-size: 14px;
	}
	.add_details ul li {
		font-size: 14px;
	}
	.check_availability {
		margin-top: 15px;
		height: 35px;
	}
	button.add_cart {
		height: 30px;
		font-size: 15px;
	}
	button.bucket_btn {
	    height: 30px;
		margin-top: 13px;
		font-size: 14px;
	}
	.check_availability select {
		height: 30px;
	}
	/*End of Landing Page */
	
	/* Checkout Page */
	
	.checkout_page .tab-content {
		padding: 0px 30px 0px 30px;
		margin-top: 50px;
	}
	.checkout-fix .tab-content {
		width: 420px;
	}
	.my_order {
		padding: 0px 30px 0px 30px;
		margin-top: 85px;
	}
	.cart_list .cart_img {
		width: 40%;
	}
	.my_order .cart_list .cart_cnt p {
		line-height: 13px;
		font-size: 9px;
	}
	.my_order .cart_list .btn {
		padding: 5px 5px 5px;
		font-size: 7px;
	}
	.cart_list .cart_cnt {
		width: 46%;
	}
	.checkout_page .fixed-pos .wizard {
		width: 430px;
	}
	.checkout_page .inner_top_align {
		margin-top: 150px;
	}
	button.btn.btn-primary.next-step {
		font-size: 10px;
		padding: 5px 10px;
	}
	.form_space input {
		font-size: 13px;
	} 	
	
	/* Account Page */
	.account_page .account_sec {
		padding-left: 20px;
	}
	
	/* Orders Page */
	h2.order_check {
		font-size: 23px;
	}
	.col-md-3.account_menu,.account_page .account_sec{
		float: left;
		padding-top: 20px;
    	padding-bottom: 20px;
	}
	.col-md-3.account_menu{
		width: 245px;
	}
	.account_page .account_sec{
		    width: 500px;
	}
	.switch {
		top: 30px;
	}
	.qty_price {
		padding-top: 30px;
	}
	.subc_title {
		margin-top: 30px;
	}
	.account h2 {
		font-size: 25px;
	}
	h2.forum_title {
		font-size: 20px;
	}
	.experience_sec {
		padding-top: 0px;
	}
}



@media(max-width:767px){
	/*Global elements*/
	.btn{
		font-size: 17px;
		padding: 4px 25px;
	}
	.product_fixed {
		padding: 0px 20px 0px 20px;
		margin: 0 auto;
		width: 90%;
		position: relative;
	}
	.add_details {
		width: 100%;
	}
	.add_details ul li {
		font-size: 14px;
		padding-bottom: 3px;
	}
	/*End of Global elements
	*************************************************************/


	/* Header*/

	header{
		/*overflow: hidden;*/
		min-height: 60px;
		padding: 8px 0 15px;
	}
	header .logo {
		top: 14px;
	}
	ul.nav_topmenu {
		width: 172px;
		position: relative;
    	top: 10px;
	}
	ul.nav_topmenu li {
		display: inline-block;
		margin-right: 10px;
	}
	header button.toggle_icon{
		width: 27px;
		background-size: 190px;
		background-position:  right -27px top 0;
		top: 0;
		margin: 0;
		padding: 0
	}
	header button.search_icon {
		width: 27px;
    	height: 22px;
		background-size: 150px;
		margin: 0;
		padding: 0;
		background-position: right -60px top 1px;
		top:0;
	}
	input.field{
		left: 66px;	
		top: -3px;
	}
	.field.width{	
		left: 66px;
		top: -3px !important;

	}
	header button.location_icon{
		width: 97px;
	    height: 35px;
	    top: 0;
	    background-size: 27px;
	    background-position: left -4px top -2px;


	}
	header button.location_icon span{
		left: -5px;
		width: 48px;
		height: 22px;
		background-position: left 1px top 2px;
		top: 0px;
		background-size: 41px;
	}

	header ul.login-cart{width:140px; top: 10px;}
	header ul.login-cart li{
		margin-left: 10px; 
		float: left; 
		padding-right: 0; 		
	}
	.cart{ 
		width: 27px;
		height: 35px;
		top: auto !important;
		background-size: 175px;
	}
	.cart span{
		right: -10px;
    	top: -18px;
    	font-size: 13px;
	}
	header .btn_login{
		top: 0;
		width: auto;
		font-size: 14px;
	}

	.sidenav{
		width: 300px;
		padding: 50px 20px !important;
	}
	.sidenav.leftslide h4{
		margin: 30px 0 10px;
		font-size: 25px;
	}
	.sidenav.leftslide a{
		font-size: 18px;
		margin-top: 0;
	}
	.page.home .panel-login>.panel-heading a{
		    padding: 6px 20px;
		    font-size: 14px;
	}
	a.closebtn.back{top: 0;}
	.cart_content{margin-top: 5px;}
	.cart_content p{font-size: 20px; top:18px;}
	.cart_content p span.cart_count{
		padding: 1px 7px;
		width: 20px;
		height: 20px;
		font-size: 11px;
		line-height: 20px;
		margin-top: 5px;
	}
	.cart_list{padding-top: 10px;}
	.cart_list .cart_img{width: 36%; margin-right: 10px;}
	.cart_list .cart_cnt{width:59%;}
	.cart_list .cart_cnt.qty p{font-size: 12px; top:10px;}
	.cart_list .btn {padding: 6px 4px; font-size: 10px;}
	.cart_list .cart_cancel{font-size: 28px;}
	.cart_cnt.qty{float: left;}
	.cart_cnt.qty .checkout {padding: 2px 17px; margin-top: 15px;font-size: 18px;}
	.cart_cnt.qty p span:nth-child(2){margin-right: 22px}
	/*End of Header
	*************************************************************/

	/* Footer*/



	/*End of Footer
	*************************************************************/

	/* widgets*/



	/*End of widgets
	*************************************************************/



	/* Landing Page*/
	.quicklinks li{
		vertical-align: top;
		margin-right: 0;
	}
	.quicklinks li.big,.quicklinks li.small{
		width: 100%;
	}
	.foot_align {
		padding-left: 15%;
	}
	footer .footerlinks_con {
		padding-left: 15%;
	}
	/*End of Landing Page */
	
	/* Single Product Page */
	
	.single_pro_desc {
		width: 80%;
	}
	.similar_exp a {
		margin-right: 50px;
		padding-right: 25px;
	}
	
		/* Checkout Page */
	
	.checkout_page .tab-content {
		padding: 0px 30px 0px 30px;
		margin-top: 50px;
	}
	.my_order {
		padding: 0px 30px 0px 30px;
		margin-top: 85px;
	}
	.checkout_page .cat_con {
		width: 100%;
	}
	ul.process_txt p {
		font-size: 13px;
	}
	.my_order .cart_list .btn {
       font-size: 12px;
	}
	button.btn.btn-primary.next-step {
		font-size: 10px;
		padding: 5px 10px;
	}
	button.btn.btn-default.prev-step {
		font-size: 10px;
		padding: 5px 10px;
	}
	.checkout_page .fixed-pos .wizard {
		width: 100%;
	}
	
	/* Account Page */
	.col-md-3.account_menu,.con_grey{
		height: auto !important;
	}
	.account_page .account_sec {
		padding-left: 20px;
	}
	.account p {
		font-size: 15px;
	 }
	
	.col-md-3.account_menu,.account_page .account_sec{
		height: auto !important;
		padding-top: 20px;
    	padding-bottom: 20px;
	}
	.sidebar-nav  .navbar-header{

	}
	.sidebar-nav .navbar-brand{padding-left: 0;}
	.sidebar-nav .navbar .navbar-nav h4{display: none;}
	.sidebar-nav .navbar .navbar-nav{
		margin: 0px 0 0  !important
	}
	.sidebar-nav .navbar .navbar-collapse > ul{
		padding-top: 20px;
	}
	.switch {
		top: 40px;
		right: 15px;
	}
	.qty_price {
		padding-top: 50px;
	}
	.subc_title p {
		font-size: 17px;
	}
	.subc_title {
		margin-top: 25px;
	}
	.account h2 {
		font-size: 25px;
	}
	.navbar-default .navbar-brand {
		color: #000;
	}
	h2.forum_title {
		font-size: 19px;
	}
}
@media(max-width:767px) and (min-width:600px) {
	/*Global elements*/

	/*End of Global elements
	*************************************************************/


	/* Header*/
	

	/*End of Header
	*************************************************************/

	/* Footer*/



	/*End of Footer
	*************************************************************/

	/* widgets*/



	/*End of widgets
	*************************************************************/



	/* Landing Page*/
	.banner h3 {
		font-size: 28px;
	}
	.remodal {
		max-width: 500px;
	}
	
	/* Inner Page */
	.section-box {
		height: 200px;
	}
	.section-box h4 {
		font-size: 14px;
	}
	.section-box p {
		font-size: 12px;
	}
	.section-box ul {
		margin-top: -7px;
		margin-bottom: 15px;
	}
	.section-box ul li {
		font-size: 12px;
		padding-bottom: 4px;
		line-height: 18px;
	}
	.btn.btn-read {
		font-size: 11px;
	}
	p.gift_desc {
		width: 100%;
	}
	.details {
      margin-top: 20px;
	}
	ul.detail_content li {
		font-size: 8px;
	}
	.cart_btn .btn.btn-read {
		top: 36px;
	}
	.center-block {
		margin-bottom: 15px;
	}
	.fixed-pos .inner_icon {
		padding: 8px 30px 0px 30px;
	}
	.fixed-pos .inner_icon img {
		width: 45px;
	}
	.inner_icon {
		padding: 30px;
	}
	.inner_icon img {
		width: 60px;
		margin: 0 auto;
	}
	.inner_icon p {
		font-size: 14px;
		margin-top: 10px;
	}
	
	/* Single Product Page */
	
	ul.custom_pills li {
		margin-right: 20px;
	}
    ul.custom_pills li.active a {
		padding: 8px 13px 8px 15px;
	}
	ul.custom_pills li a {
		padding: 8px 13px 8px 15px;
	}
	ul.custom_pills li a:hover {
		padding: 8px 13px 8px 15px;
	}
	.custom_pills-fixed {
		width: 100%;
	}
	.tab-content p {
		font-size: 14px;
	}
	
	/*End of Landing Page */
}
@media(max-width:599px) and (min-width:481px) {
	/*Global elements*/

	/*End of Global elements
	*************************************************************/


	/* Header*/


	/*End of Header
	*************************************************************/

	/* Footer*/



	/*End of Footer
	*************************************************************/

	/* widgets*/



	/*End of widgets
	*************************************************************/



	/* Landing Page*/
    
	/* Inner Page */
	
	.inner_icon img {
		margin: 0 auto;
		width: 50px;
	}
	ul.inner_icon {
		padding: 30px 30px 30px 30px;
	}
	ul.inner_icon li {
		margin-right: 7%;
	}
	.inner_icon p {
		font-size: 14px;
	}
	.fixed-pos .inner_icon img {
		width: 35px;
	}
	.fixed-pos .inner_icon p {
		font-size: 12px;
		margin-top: 2px;
	}
	.fixed-pos .inner_icon {
		padding: 8px 40px 0px 40px;
	}
	
	/* Section Box */
	
	.section-box {
		width: 340px;
		margin: 0 auto;
	}
	.section-empty-box {
		width: 340px;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	/*End of Landing Page */
	
	/* Single Product Page */
	
	ul.custom_pills li {
		margin-right: 20px;
	}
    ul.custom_pills li.active a {
		padding: 8px 13px 8px 15px;
	}
	ul.custom_pills li a {
		padding: 8px 13px 8px 15px;
	}
	ul.custom_pills li a:hover {
		padding: 8px 13px 8px 15px;
	}
	.tab-content p {
		line-height: 20px;
		font-size: 14px;
	}
	.review_desc p {
		margin-left: 0px;
	}
	.custom_pills-fixed {
		width: 100%;
	}
	/*Account Page*/
	.account .form_space {
		padding-bottom: 10px;
	}
	.mob_card_space {
		padding-top: 25px;
		padding-bottom: 60px;
	}
	.set{
      padding-top: 25px;
      padding-bottom: 20px;
	}
	.account h3 {
		font-size: 20px;
	}
	h3.profile {
		font-size: 19px;
	}	
}
@media(max-width:480px){
	/*Global elements*/

	/*End of Global elements
	*************************************************************/


	/* Header*/
	.sidenav {padding-top: 15px;}
  	.sidenav a {font-size: 18px;}

	/*End of Header
	*************************************************************/

	/* Footer*/
	footer h2 {
		font-size: 16px;
	}
	ul.footerlinks li {
		font-size: 14px;
	}
	.copyright p {
		font-size: 14px;
	}
	/*End of Footer
	*************************************************************/

	/* widgets*/



	/*End of widgets
	*************************************************************/



	header .logo{ 
		width: 100px;
		height: 100px ;
		background-size: 100%; 
		margin-left: -50px;
		position:absolute;
		border-radius: 50px;
		top: 0px;
		z-index: 5;
		background: #235364;
    	background: -moz-linear-gradient(left, #235364 1%, #143858 52%, #113155 100%);
    	background: -webkit-linear-gradient(left, #235364 1%,#143858 52%,#113155 100%);
    	background: linear-gradient(to right, #235364 1%,#143858 52%,#113155 100%);
    	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#235364', endColorstr='#113155',GradientType=1 );
	}
	header .logo img{
		margin-top: 58px;
		width: 60%;
	}
	ul.nav_topmenu{
		float: left;
		position: relative;
		top: 8px;
		z-index: 2;
	}
	ul.nav_topmenu li{ margin-right: 15px;}
	ul.nav_topmenu li:last-child{
		margin-left: -10px;
	}
	header button.search_icon {
		background-position:right -61px top 3px;
		background-size: 160px;
	}
	
	header button.location_icon {
		background-position:left -5px top 2px;
		background-size: 25px;
		width: 80px;
		margin: 0;
		padding: 0;
	}
	header button.location_icon span {
		width: 44px;
    	background-position: left 1px top 4px;
		background-size: 40px;
	}
	header button.toggle_icon {
		background-position: right -50px top;
		width: 15px;
		height: 33px;
		top: 0px;
		background-size: 240px;
	}
    header .btn_login {
		display: none;
	}
	header .mob_btn_login {
		width: auto;
		background:url(images/login_icon.png) no-repeat left 1px top 10px;
		display: block;
		height: 32px;
		background-size: 17px;
	}
	
/*	header ul.login-cart {
		top: 13px;
	}*/
	input.field{
		left: 56px;
		top: 0 !important;
		height: 25px;
	}
	input.field.width{
		left: 56px;
		width: 200px;
		top: 0 !important;
		height: 25px;
	}
	
	header ul.login-cart{
		width: 80px;
	}
	header ul.login-cart li{
		width: 20px;
	}
	.cart {
		background-position: left -1px top 0px;
		width: 20px;
    	height: 25px;
    	background-size: 150px;
    	top: 9px !important
	}
	.cart span{    
		right: -8px;
    	top: -17px;
    	font-size: 12px;
    }

	.sidenav {padding-top: 15px;}
  	.sidenav a {font-size: 18px;}

	/*End of Header
	*************************************************************/

	/* Footer*/



	/*End of Footer
	*************************************************************/

	/* widgets*/



	/*End of widgets
	*************************************************************/



	/* Landing Page*/

	.banner h3 {
		font-size: 20px;
	}
	.banner .carousel-caption {
		bottom: auto;
		top: 10%;
	}
	.carousel-inner > .item > img, .carousel-inner > .item > a > img {
		min-height: 150px;
	}
	
	
	
	/* Inner Page */
	
	.products.inner_align {
		padding-bottom: 0px;
	}
	.inner_icon img {
		margin: 0 auto;
		width: 40px;
	}
	ul.inner_icon {
		padding: 30px 0px 30px 0px;
	}
	ul.inner_icon li {
		margin-right: 4%;
	}
	.inner_icon p {
		font-size: 14px;
	}
	.fixed-pos .inner_icon img {
		width: 35px;
	}
	.fixed-pos .inner_icon p {
		font-size: 12px;
		margin-top: 2px;
	}
	.fixed-pos .inner_icon {
		padding: 8px 0px 0px 0px;
	}
	.inner_title h4 {
		margin-bottom: 25px;
		font-size: 23px;
	}
	/* Section Box */
	
	.center-block {
		margin-bottom: 30px;
		padding-left: 0;
	}
	.section-box {
		height: 195px;
		width: 270px;
		margin: 0 auto;
	}
	.section-empty-box {
		height: 195px;
		width: 270px;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	
	.section-box h4 {
		font-size: 14px;
	}
	.section-box p {
		font-size: 12px;
	}
	.section-box ul {
		margin-top: -7px;
		margin-bottom: 15px;
	}
	.section-box ul li {
		font-size: 12px;
		padding-bottom: 4px;
		line-height: 18px;
	}
	.btn.btn-read {
		font-size: 11px;
	}
	p.gift_desc {
		width: 100%;
	}
	.details {
      margin-top: 20px;
	}
	ul.detail_content li {
		font-size: 8px;
	}
	.cart_btn .btn.btn-read {
		top: 36px;
	}
	.center_set{
		padding-left:0px;
	}
	/*End of Landing Page */
	
	/* Single Product */
	
	.check_availability select {
		height: 30px;
	}
	.check_availability {
		margin-top: 23px;
		height: 30px;
	}
	.cart_set {
		margin-top: 20px;
	}
	button.add_cart {
		height: 30px;
		font-size: 14px;
	}
	button.bucket_btn {
		margin-top: 15px;
		height: 30px;
		font-size: 14px;
	}
	.reviews_content .br-theme-fontawesome-stars .br-widget a {
		font: normal normal normal 18px/1 FontAwesome;
	}
	ul.reviews_list {
		margin-top: 75px;
	}
	.author_details {
		margin-bottom: 10px;
	}
	.product_fixed {
		margin-top: 25px;
	}
	.single_pro_desc {
		padding-top: 30px;
		width: 80%;
	}
	.tab-content p {
		margin-left: 0px;
		font-size: 13px;
	}
	.similar_exp {
		margin-top: 25px;
	}
	.product_fixed ul li span {
		padding-left: 13px;
	}
	.product_fixed ul li {
		 background-size: 11px;
		font-size: 12px;
		margin-right: 2px;
		display: inline-block;
	}
	.product_fixed ul li:last-child {
		margin-right: 0px;
	}
	.product_fixed h2 {
		font-size: 17px;
	}
	ul.custom_pills li.active a {
		font-size: 12px;
		padding: 3px 5px;
	}
	ul.custom_pills li a {
		font-size: 12px;
		padding: 3px 5px;
	}
	ul.custom_pills li a:hover {
		font-size: 12px;
		padding: 3px 5px;
	}
	ul.custom_pills li {
		margin-right: 12px;
	}
	ul.custom_pills {
		text-align:center;
	}
	.custom_pills-fixed {
		text-align:center;
		left:0px;
		width: 100%;
	}
	
	/*Checkout Page */
	.checkout_page .tab-content {
		padding: 0px 10px 0px 10px;
		margin-top: 50px;
	}
	.form_space input{
	    font-size: 11px;
	}
	ul.process_txt p {
		font-size: 11px;
	}
	span.round-tab {
		width: 40px;
		height: 40px;
	}
	.wizard li.active span.round-tab {
		margin-top: 5px;
	}
	.my_order {
		padding: 0px 0px 0px 0px;
		margin-top: 65px;
	}
	.my_order .cart_list .btn {
		margin-top: 15px;
		padding: 6px 5px;
		font-size: 9px;
	}
	.my_order .cart_cnt.qty p {
		margin-bottom: 2px;
	}
	.my_order .cart_list .cart_cnt p {
		font-size: 12px;
	}
	.shipping_subtotal .table > tbody > tr > td {
		font-size: 11px;
	}
	.success_set h1 {
		font-size: 20px;
	}
	.success_set p {
		font-family: 'ProximaNova-Light';
		font-size: 14px;
		line-height: 11px;
	}
	.success_set img {
		padding: 30px;
		width: 130px;
	}
 
 /* Modal */
	.remodal {
        padding: 15px;
	}
	button.btn_login.modal_btn {
		width: 230px;
		height: 30px;
		font-size: 13px;
	}
	button.btn_login.modal_btn_ch {
		width: 230px;
		height: 30px;
		font-size: 13px;
	}
	.remodal h3 {
		padding: 0px 0px 20px 0px;
		font-size: 13px;
	}
	
	/* Account */
	
	/*.form_space [class*='col-'] {
		padding-right: 8px;
		padding-left: 8px;
	}*/
	.account .form_space {
		padding-bottom: 10px;
	}
	.mob_card_space {
		padding-top: 25px;
		padding-bottom: 60px;
	}
	.set{
      padding-top: 25px;
      padding-bottom: 20px;
	}
	.account h3 {
		font-size: 20px;
	}
	h3.profile {
		font-size: 19px;
	}
	.profile_pic span {
		font-size: 15px;
	}
	.account select {
		font-size: 12px;
	}
	.account_forum {
		padding-bottom: 40px;
	}
	button.acct_btn.update_btn {
		margin-top: 20px;
	}
	h2.order_check {
		font-size: 17px;
	}
}


/* Radio & Check Box */

.roundedTwo{width:auto; float:left;}
.roundedTwo .lbl{
	font-family: 'ProximaNova Semibold',Helvetica, sans-serif;
	font-size: 13px;
	color: #113157;
}
.roundedTwo .lbl a{
	display: inline-block; 
	font-size: unset; 
	padding: 0;
	line-height: 21px;
}
input[type=radio] + label:before {
  /*content: "";  */
   content: ""; 
  display: inline-block;  
  width: 21px;  
  height: 21px;  
  vertical-align:middle;
  margin-right: 4px;  
  background-color:#303f9f;  
  border-radius: 20px;  
  border:2px solid #113157;
  color: #434653;

  padding: 0px;
}
input[type=checkbox] + label:before {
 /* content: "";  */
   content: ""; 
  display: inline-block;  
  width: 18px;  
  height: 18px;  
  vertical-align:middle;
  margin-right: 4px;  
  background-color: transparent;  
  border:2px solid #113157;
  color: #434653;
  padding: 0px;

}
input[type=radio]:checked + label:before {
/*  content: "\2022";  Bullet */
  color:#a0a4b9;
  background-color:transparent; 
  font-size:3.6em;
  text-align:center;
  line-height:0.35;
  border:2px solid #303f9f;
  font-family:'Arial', Helvetica, sans-serif;
  background: url(images/radio-button.png)no-repeat center;

}
input[type=checkbox]:checked + label:before {
/*content:"\2714"; */
  color:#a0a4b9;
  background-color:transparent;
  font-size:3.6em; 
  text-align:center;
  line-height:0.35;
  border:2px solid #303f9f;
  font-family:'Arial', Helvetica, sans-serif;
  background: url(images/check-box.png)no-repeat center;
   background-size: 100% 100%;

}
input[type="radio"], input[type="checkbox"]{display: none;}
